extends layout.pug

block content 
    div.container
        h1 Create blog

        if error
            p.error You can not submit empty field! 

        if success
            p.success Blog is created 

        form.form(action="/create" method='POST')
            label Title
            input.input(type="text" name='title')
            
            label Description
            textarea.input(type="text",name="description") 

            button.btn Create blog