extends layout.pug

block content
    div.container
        h1.intro-msg  Create your own blog here.
        a.featured(href="/create") Create blog
    

    div.web-info
        p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
    