doctype html
html(lang="en")
    head
        title Blog application
        link(rel="stylesheet", href="/static/styles.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=El+Messiri:wght@400;500;600;700&family=Manrope:wght@200;300;400;500;600&family=Sono:wght@400;600&display=swap" rel="stylesheet">
    body 
        header.navbar 
            h1
                a(href="/") Blog App
            
            nav.nav
                a(href="/blogs") All blogs 
        block content  
